
.polka {
    height: 98vh;
    background-image: url("../../public/spotify.png");
    background-size: cover;
  }

  .container {
    display: flex;
    height: 100%;
  }

  .one-third {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px dotted black;
  }

  .two-third {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .box {
    background-color: rgb(226, 255, 229);
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
  }

  .title {
    flex: 1;
    text-align: center;
  }

  .text {
    flex: 2;
    border: 1px dotted green;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .data-table {
    border: 1px solid white;
    height: 700px;
    width: 650px;
    background-color: rgb(226, 255, 229);
    padding: 20px;
    border-radius: 10px;
  }